<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入Demo</title>
    <link rel="stylesheet" href="web/node_modules/bootswatch/dist/minty/bootstrap.min.css">
    <link rel="stylesheet" href="web/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body>
    <h1>任何人都不能靠近這張桌子</h1>
    <div th:if="${param.error}">不能靠就是不能靠</div>
    <div th:if="${param.logout}">離開是正確的選擇</div>
    <form th:action="@{/login}" method="POST">
        <input type="text" name="username" placeholder="帳號">
        <input type="password" name="password" autocomplete="off" placeholder="密碼">
        <button type="submit" class="btn btn-primary">登入</button>
    </form>

    <script src="web/node_modules/vue/dist/vue.global.js"></script>
    <script src="web/node_modules/axios/dist/axios.min.js"></script>
    <script src="web/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="web/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</body>

</html>